@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: sans-serif;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
li{
  list-style: none;
}


.clip-diagonal {
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.clip-tri {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}
